
/* UNIQUEMENT POUR CETTE PAGE */


.contact{
    list-style: none;
    background-color: #a4c2c9;
    width: max-content;
    margin-top: 5%;
    margin-left: 15%;
}
.contact li, h4{
    margin: 10px;
    padding: 10px;
}
.contact p{
    margin:  10px 20px;
}


.title{
    margin-top: calc(var(--section-padding)*2);
    text-align: center;
    text-transform: uppercase;
}
/* 
.photo{
    
    background-color: rgb(59, 154, 237);} */


.photo img{
    border-radius: var(--font-border-text);
    width: calc(var(--article-width));
}
