@import "variables.css";


/* UNIQUEMENT POUR CETTE PAGE */

main{
    width: var(--bg-width);
    margin: auto;
}
.container{
    margin: var(--section-padding);
}


.title{
    margin-top: calc(var(--section-padding)*2);
    text-align: center;
    text-transform: uppercase;
}
/* 
.photo{
    
    background-color: rgb(59, 154, 237);} */


.photo img{
    border-radius: var(--font-border-title);
    width: calc(var(--article-width));
}




