@import "variables.css";

/* FOOTER */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
    width: var(--bg-width);
    margin: auto;
}
footer{
    position: relative;
    background-color: var(--bg-color);
    margin-top: calc(var(--section-padding)*2);
    padding: 1%;
}

#formulaire, .btn{
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: var(--font-border-title);
}

#icons{
    font-size: 150%;
}



.list-group-item a{
    text-decoration: none;
    color: var(--white);
}
.list-group-item{
    background-color: transparent;
    border: transparent;
}
.col-auto{
    margin: 4%;
}