@import "variables.css";

/* home page */
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    
}
/* TITLES */

.title{
    margin-top: var(--section-padding);
    text-align: center;
    text-transform: uppercase;
}

/* TEXT */
.d1text{
    background-color: var(--bg-color); ;
    border-radius:var(--font-border-text);
    padding: var(--title-padding); /*background texte*/
    /* margin-left: 20%;
    margin-top: 3%; */
    width: var(--bg-width);
    /*margin:7%; !*espace photo-texte *!*/
    text-align: center;
    align-items: center;
    margin: auto;
    /*margin-left: 60%; !*deplacement vers la droite*!*/
    /*width: 60%; !*espace pour le texte*!*/
}
.intro{
    text-align: start;
    padding: 1%;
}


/* IMAGES */

.imgscroll {
    width: var(--bg-width);
    background-color: aqua;
    text-align: center;
    margin: auto;
    /* position: relative; */
    
    display: flex;
    flex-wrap: wrap;
}
.pic{
    margin-top: 1%;
    border-radius: 7%;
    /* position: absolute; */
}
.pictext {
    font-weight: bold;
    text-shadow: 5px 5px 5px black;
    /* position: relative; */
    /* margin-bottom: -8%; */
    /* position: relative; */
    /* z-index: 2;
    color: var(--white);
    background-color: aqua;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    margin : auto; */
} 
.imageText img{
    width: 33%;
    height: 25%;
}
#picnorvege, #pictunisie, #picbresil ,#picdk{
    width: 49.7%;
    height: 25%;
}

/* pic size */
/* .largepic img{
    text-align: center;
    align-items: center;
    margin : auto;
    width: 30%;
    height: 16.5%;
}
.highpic img{
    text-align: center;
    align-items: center;
    margin : auto;
    width: 20%;
    height: 20%;
} */


 /* text picture */
.pictext{
    color: var(--white);
    text-transform: uppercase;
}
 /* .pictext{ */
    /* margin: auto;
   
    text-align: center; */
    /* color: #ffffff; */
    /* font-weight: 600; */
    /* margin: 5%; */
    /* padding: 1%; */
    
/* }   */
/* #noktext , #picnorvege, #bretext{
    margin-left: 28%;
    margin-top: -6%;
}
#tuntext, #dktext{
    margin-left: 59%;
    margin-top: -6%;
}
#tantext{
    margin-left: 23%;
    margin-top: -6%;
}
#fintext{
    margin-left: 44%;
    margin-top: -6%;
}
#ntltext{
    margin-left: 63%;
    margin-top: -6%;
} */

.imageText> .pictext{
    
    margin-top: -7%;
}
.span_art a{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 100%;
    padding: var(--title-padding);
}
.span_art a:hover{
    border-radius: var(--font-border-text);
    background-color: var(--bg-color);
    
}

