/* SEARCH BAR */
.searchbar{
    margin-top: 10%;
    margin-left: 10%;
}
.searchbar h3{
    text-decoration:overline;
    padding: 10px;
}
.searchbar i{
    font-size: 10px;
    padding: 10px;
}
#res{
    font-size: 12px;
}
/* SEARCH AVEC DICO*/
.dico ul{
    position: absolute;
    display: inline-flex;
    list-style: none;
    margin-left: 20%;
}
.dico button{
    margin: 10px 10px;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: transparent;
    border: transparent;
}
.dico .paystitre{
    margin: 10px 10px;
    text-decoration: none;
}
#photos li{
    list-style: none;
}
#photos li:hover{
    transform: scale(1.06);
}
#photos li a{
    display: none;
}
/* TAILLE DES PHOTOS */
#photos {
    margin-top: 10%;
}
#photos .A,#photos .P,#photos .F,#photos .K{
    margin-top: 2%;
    margin-left: 10%; 
    float: left;
    width: 100px;
    height: 100px;
    display: inline-flex;
    /*width: 22%;*/
    /*height: 22%;*/
}
/*#photos li .droite{*/
/*    margin-top: 2%;*/
/*    margin-right: 10%;*/
/*    float: right;*/
/*    width: 22%;*/
/*    height: 22%;*/
/*}*/

