
#photos li:hover{
    transform: scale(1.06);
}
#photos li a{
    display: none;
}


/* TAILLE DES PHOTOS */
#photos {
    margin-top: 10%;
}
#photos img{
    border-radius: var(--font-border-text);

}
#photos .objet{
    margin-top: 2%;
    margin-left: 10%; 
    /* float: left; */
    width: 70px;
    height: 70px;
    display: inline-flex;
}
