/* SEARCH BAR
.searchbar{
    margin-top: 10%;
    margin-left: 10%;
}
.searchbar h3{
    text-decoration:overline;
    padding: 10px;
}
.searchbar i{
    font-size: 10px;
    padding: 10px;
}
#res{
    font-size: 12px;
} */


/* SEARCH AVEC DICO*/
/* .dico ul{
    position: absolute;
    display: inline-flex;
    list-style: none;
    margin-left: 20%;
}
.dico button{
    margin: 10px 10px;
    text-decoration: underline;
    text-transform: uppercase;
    background-color: transparent;
    border: transparent;
}
.dico .paystitre{
    margin: 10px 10px;
    text-decoration: none;
} */
/* #photos li{
    list-style: none;
} */
#photos li:hover{
    transform: scale(1.06);
}
#photos li a{
    display: none;
}


/* TAILLE DES PHOTOS */
#photos {
    margin-top: 10%;
}
#photos img{
    border-radius: var(--font-border-text);

}
#photos .pictures{
    margin-top: 2%;
    margin-left: 10%; 
    /* float: left; */
    width: 70px;
    height: 70px;
    display: inline-flex;
}
