@import "variables.css";

/* NAV BAR */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(202, 204, 206);
}
.menu{
    text-decoration: none;
    color: var(--black);

}
.navbar-nav li{
    margin: 4%;
}



/* LOGO */

.navbar-brand img{
    z-index: 2;
    position:relative;
    width: 125px;
    height: 125px;
}

/* SEARCH BAR */
.searchbar{
    
    /* background-color: var(--bg-color); */
    border-radius: var(--font-border-title);
    width: var(--article-width);
    /* height: 5%; */
    position: relative;
    margin-top: calc(var(--section-padding)*4);
    margin-left: var(--left-margin);
}
#recherche{
    /* margin-top: 2%; */

    /* width: calc(var(--article-width)*4); */
    border: none;
    outline: none;
    background-color: transparent;
}
#res{
    color: red;
    font-size: 12px;
    margin-left: 10%;
}
