@import "variables.css";

/* NAV BAR */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(202, 204, 206);
}
.menu{
    text-decoration: none;
    color: var(--black);

}
.navbar-nav li{
    margin: 4%;
}



/* LOGO */

.navbar-brand img{
    z-index: 2;
    position:relative;
    width: 125px;
    height: 125px;
}

/* SEARCH BAR */
.searchbar{
    
    background-color: var(--bg-color);
    border-radius: var(--font-border-title);
    width: 250px;
    margin-top: calc(var(--section-padding)*2);
} 
#recherche{
    
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--white);
    padding: 7px;
    text-align: start;
    margin: auto;
    align-items: center;
}
#res{
    font-size: 15px;
    margin-left: 10%;
    color: var(--white);
    padding: 1%;

}
.bi-search{
    font-size: 20px;
    padding: 2%;
    color: var(--white);
}