/* VAR */

*{
    font-family: var(--font);
}


:root{

    /* font */
    --font : "Inter Tight", sans-serif;
    
    /* width */
    --bg-width : 75%;
    --article-width : 21%;

    /* padding */

    --title-padding : 10px;
    --section-padding : 8%;

    /* margin */

    --left-margin : 9.5%;

    /* border */
    --font-border-title : 10px 10px 10px 10px;
    --font-border-text : 10%;

    /* --right-upper-corner : 
    --left-upper-corner :
    --right-lower-corner :
    --left-lower-corner : */


    /* color */
    --white : #ffffff;
    --black : #000000;
    --bg-color : #989da0;
    --color : #843434;

}
