@import "variables.css";

/* world map */

.d3{
    margin-top: var(--section-padding);
}
.map{
    margin: auto;
    /* background-color: antiquewhite; */
}
.mapimg path:hover{
    fill: var(--bg-color);
}
