/* NAV BAR */

*{
    margin: 0;
    padding: 0;
}
.barnav{
    display: inline-flex;
    position: absolute;
    z-index: 1;
}
.accueil{
    font-family: 'Epilogue', sans-serif;
    text-align: center;
}
.navlinks{
    /*font-weight: 200;*/
    list-style: none;
    display: inline-flex;
    text-transform: uppercase;
}
.navlinks .menu{
    margin: 10%;
}

.menu a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 2%;
}
.menu a:hover{
    text-decoration: underline #a4c2c9 ;
}

/* LOGO */

.logo img{
    position:relative;
    z-index: 2;
    margin-top: -0.7%;
    /*width:max-content;*/
    width: 100px;
    height: 100px;
}


/*  *//* IMAGE BACKGROUND */
header{
    /*background-image: linear-gradient();*/
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../images/back.jpg");
    background-position: 100%;
     /*margin-top: 10%;*/
    position: relative;
    background-size: cover;
    height: 100vh;
    /*width: 70%;*/
    /*margin-left: 30%;*/
}
/*.headerpic .maintitle{*/
/*    !*position: absolute;*!*/
/*    z-index: 1;*/
/*    color: #ffffff;*/
/*    border-color: #6fb9b9;*/
/*    border: 3px;*/
/*    font-size: 300%;*/
/*    text-align: center;*/
/*    align-items: center;*/
/*    margin-top: -25%;*/
/*    margin-left: 20%;*/
/*    font-family: 'Epilogue', sans-serif;*/
/*    text-transform: uppercase;*/
/*}*/

/*.headerpic .main_title{*/
/*    color: #a4c2c9;*/
/*    left: 40%;*/
/*    top: 30%;*/
/*}*/


/* home page */
*{
    margin:0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Epilogue', sans-serif;
    
}
/* TITLES */

.title{
    margin-top: 7%;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
}

/* TEXT */
.d1text{
    background-color: #6fb9b9;
    border-radius: 30px 30px;
    padding: 15px 15px; /*background texte*/
    margin-left: 20%;
    margin-top: 3%;
    width: 58%;
    /*margin:7%; !*espace photo-texte *!*/
    text-align: center;
    /*margin-left: 60%; !*deplacement vers la droite*!*/
    /*width: 60%; !*espace pour le texte*!*/
}
.intro{
    text-align: start;
    padding: 1%;
}/* IMAGES */

.imgscroll {
    margin-top: 5%;
    display: list-item;
    position: relative;
    text-align: center;
}

.largepic img{

    width: 30%;
    height: 16.5%;
}
.highpic img{
    width: 19.9%;
    height: 19.7%;
}


/* text picture */
.pictext{
    font-family: 'Epilogue', sans-serif;

    position: absolute;
    color: #ffffff;
    font-weight: 600;
    margin: 2%;
    padding: 1%;
    text-transform: uppercase;
}
#noktext, #bretext{
    margin-left: 28%;
    margin-top: -6%;
}
#tuntext, #dktext{
    margin-left: 59%;
    margin-top: -6%;
}
#tantext{
    margin-left: 23%;
    margin-top: -6%;
}
#fintext{
    margin-left: 44%;
    margin-top: -6%;
}
#ntltext{
    margin-left: 63%;
    margin-top: -6%;
}
.span_art a{
    font-family: 'Epilogue', sans-serif;

    color: #ffffff;
    font-weight: 500;
    font-size: 60%;
    border: 1px solid white;
    padding: 5%;
}
.span_art a:hover{
    background-color: #ffffff;
    color: black;
}


/* world map */

/* TITLES */

.titlemap{
    position: relative;
    padding: 3%;
    margin-top: -4%;
    /*background-color: #a4c2c9;*/
    /*margin-top: 1%;*/
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
}


/* SECTION PHOTO ET TEXT */
.d2 .tan{
    width: 15%;
    height: 35%;
    /*margin-top: 15%;*/
    margin-left: 79%;
    position: relative;
}
.d2 pre{
    margin-left: 75%;
    margin-top: -15%;
    position: absolute;
    z-index: 1;
    color: #fff;
    font-weight: 500;
}

/* WORLD MAP SVG */

.mapimg{
    position: relative;
    color: #6fb9b9;
    margin-top: -15%;
    width: 60%;
    float: left;
    margin-left: 7%;

}
.mapimg path:hover{
    fill: #6fb9b9;
}

/* quote */
.quote p{
    font-family: 'Sacramento', cursive;
    float: left;
    font-size: 160%;
    position: relative;
    margin-top: 3% ;
    margin-left: 20%;
}

/* BUTTON DESTINATIONS */

.d4text h4 a{
    position: relative;
    color: #fff;
    background-color: #6fb9b9;
    padding: 1%;
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    text-transform: uppercase;
}

.d4text .text{
    position: relative;
    float: right;
    text-align: end;
    margin-top:4%;
    margin-right: 10%;
    width: 15%;
    font-size: 70%;
    /*background-color: #a4c2c9;*/
}

/*  */
/* FOOTER */

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex-grow: 1;
}
footer{
    position: relative;
    background-color: #a4c2c9;
    margin-top: 30%;
    padding: 3%;
    list-style: none;
    display: inline-flex;
}
.footer li, .footer a{
    text-align: start;
    color: black;
    text-decoration: none;
    display: block;
    /*padding: 10%;*/
}
.footer ul, .footer fieldset{
    margin-left: 16%;
}
.icons li a{
    margin: 20%;
}
.list li{
    margin: 6%;
    width: max-content;
}

/* formulaire */
fieldset .formtitle{
    text-transform: uppercase;
    color: brown;
    font-size: medium;
}
fieldset, form{
    border: none;
    width: 40%;
}
.form_input, textarea{
    border: transparent;
    padding: 2%;
    margin: 5%;
    background-color: transparent;
}
.formtitle[type='submit']{
    text-align: end;
}
.form_input{
    outline: none;
    border: none;
}
/*.form_input input[placeholder]{*/
/*    text-decoration: underline brown;*/
/*}*/